<%- include('partials/headadmin', {title: 'Edit Product'}) %>
  <h1>Edit Product</h1>
  <form action="/admin/product/<%= product.id %>/edit" method="post" enctype="multipart/form-data">
    <label>Name</label><br>
    <input type="text" name="name" value="<%= product.name %>"><br><br>
    <label>Price</label><br>
    <input type="text" name="price" value="<%= product.price %>"><br><br>
    <label>Stock</label><br>
    <input type="number" name="stock" value="<%= product.stock %>"><br><br>
    <label>Image</label><br>
    <input type="file" name="public" value="<%= product.image %>"><br><br>
    <label>Description</label><br>
    <textarea name="description" cols="40" rows="20"></textarea><br><br>
    <label>Category</label>
    <select name="CategoryId">
      <% categories.forEach(c => { %>
        <option <%= product.CategoryId===c.id? 'selected' : '' %> value="<%= c.id %>"><%= c.name %></option>
      <% }) %>
    </select>
    <input type="submit" value="Add">
  </form>
<%- include('partials/footer') %>